* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.height-100 {
    height: 100vh;
}

.background-login {
    background: #7A0018;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#nameProfile {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: #FFFFCE;
    font-size: 1.5rem;
}

.container_IcoProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: auto;
    text-align: center;
    /* margin: 15px; */
}

.IcoProfile {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: auto; */
    color: #FFFFCE;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-size: 3.5rem;
    /* text-align: center; */
    /* margin: 15px; */
}

.container_dropdown {
    display: none;
    align-self: center;
    margin-left: 15px;
}

.icoDropdown {
    font-size: 30px
}

.background-btnPrimary {
    background: #86DE5C;
    border: 1px solid #86DE5C;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.background-nav {
    height: 8vh;
    background: #116A83;
}


/* ----------------------------------------> Botones NavBar <---------------------------------------- */

.btn3ro {
    outline: none;
    margin: 2vw 0vw;
    border: 0;
    border-radius: .25em;
    background: #FFFFCE;
    cursor: pointer;
    padding: .4em 1em;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    font-family: inherit;
    /* font-weight: 300; */
    color: #116A83;
    box-shadow: 0 .2em #888;
    -webkit-transform: translateY(-.2em);
    -moz-transform: translateY(-.2em);
    transform: translateY(-.2em)
}

.btn3ro:hover {
    background: #FFFFFF;
}

.btn3ro:active {
    box-shadow: none;
    background: #468EA2;
    color: #FFFFFF;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0)
}

.btn4ro {
    background: #FFFFFF;
    border: 1px solid #C51336;
    color: #C51336;
    outline: none;
    margin: auto auto 2vw auto;
    border-radius: .25em;
    box-shadow: 0 .2em #888;
    cursor: pointer;
    padding: .4em 1em;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    font-family: inherit;
    -webkit-transform: translateY(-.2em);
    -moz-transform: translateY(-.2em);
    transform: translateY(-.2em)
}

.btn4ro:hover {
    background: #FFFFFF
}

.btn4ro:active {
    box-shadow: none;
    background: #C51336;
    color: #FFFFFF;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0)
}


/* ----------------------------------------> ////////////// <---------------------------------------- */

nav {
    width: auto;
    padding: 15px;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #116A83;
}

#hamburguesa {
    width: 45px;
    height: 45px;
    border: 1px solid black;
    text-align: center;
    z-index: 2;
}

.activeHamburguesa {
    color: #FFFFCE;
}

.IcoHamburguesa {
    font-size: 35px;
    margin: 5px;
    position: relative;
}

#campana {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

.IcoCampana {
    font-size: 29px;
    color: #FFFFCE;
    margin: 5px;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 80vw;
    background: #116A83;
    left: -100%;
    transition: all 0.5s ease-in;
    z-index: 1;
}

.container_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_buttons2 {
    align-self: center;
}

.botones a {
    text-align: center;
    text-decoration: none;
}

.desplegarNavBar {
    transform: translateX(100vw);
}

.fondo-blur {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.5s ease-in-out;
    background: rgba(0, 0, 0, 0.05);
    opacity: 0;
    backdrop-filter: blur(5px);
    z-index: 0;
}


/* ---------------------------------------> Reproductor Fijo <--------------------------------------- */

#reproductor {
    display: flex;
    position: absolute;
    bottom: 0;
    /* transition: all 0.5s ease-in; */
    background: #468EA2;
    width: 100vw;
    height: 111px;
    z-index: -1;
}

.repro_grid_elements {
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-areas: "nombreBanda menuRepro" "botonesRepro  menuRepro" "barraRepro  menuRepro";
    /* grid-gap: 10px; */
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 0.9fr 0.1fr;
}

.repro_grid_elements .nombreBanda {
    grid-area: nombreBanda;
    /* background: red; */
}

.repro_grid_elements .botonesRepro {
    grid-area: botonesRepro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 33px;
    padding: 15px;
    /* background: yellow; */
}

.repro_grid_elements .barraRepro {
    grid-area: barraRepro;
    align-self: center;
    padding: 0 15px;
    /* background: black; */
}

.repro_grid_elements .menuRepro {
    grid-area: menuRepro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    background: #116A83;
}


/* ---------------------------------------> //////////////// <--------------------------------------- */

@media (min-width: 768px) {
    body {
        background: red;
    }
}

@media (min-width: 1024px) {
    body {
        background: green;
    }
    nav {
        padding-right: 0;
    }
    .botones {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        order: 1;
        align-items: center;
        flex-direction: row;
    }
    .container_buttons {
        display: inline-block;
        width: auto;
        height: auto;
    }
    .container_IcoProfile {
        padding: 15px;
        margin-left: 15px;
        height: auto;
        flex-direction: row;
        order: 1;
        background: #7A0018;
        cursor: pointer;
    }
    .container_IcoProfile:hover .container_dropdown {
        animation: moving 0.4s linear infinite alternate;
    }
    .IcoProfile {
        margin: 0;
    }
    #nameProfile {
        margin: 0 15px;
    }
    .container_dropdown {
        display: flex;
        margin: 0;
        color: #FFFFCE;
    }
    .icoDropdown {
        transition: all 0.5s ease-in;
    }
    .rotar {
        transform: rotate(180deg);
    }
    /* .container_dropdown:hover {
        animation: moving 0.4s linear infinite alternate;
    } */
    #hamburguesa {
        display: none;
    }
    .container_buttons2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 207.86px;
        background: #FFFFFF;
        border-radius: 0 0 5px 5px;
        position: absolute;
        right: 0;
        /* top: 87px; */
        z-index: -1;
        transition: top 1s ease-in;
        top: 0;
    }
    .btn4ro {
        width: 100%;
        margin: 15px
    }
}

.moveTop {
    top: 87px;
}

@keyframes moving {
    100% {
        transform: translate(0px, 10px);
    }
}