* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    background: url("../image/parallax2/parallax-mountain-bg.png");
    background-size: cover;
}


/* ---------------------------------------------> MENU PRINCIPAL <--------------------------------------------- */

.menu {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#start {
    font-family: monospace;
    font-size: xxx-large;
    background-color: transparent;
    border-radius: .25em;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: transparent;
    padding: 5vw;
    animation: text-shadow-3 1s infinite alternate;
}

#start:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 .08em .24em rgba(0, 0, 0, 0.3);
}

#start:active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 .08em .24em rgba(0, 0, 0, 0.3);
    background: transparent;
}

@keyframes text-shadow-3 {
    from {
        text-shadow: 0 0 white;
    }
    to {
        text-shadow: 0 0 rgba(255, 255, 255, 0), -45px -45px 0 #fff7e2, -30px -30px 0 #734049, -15px -15px 0 #b36950, 0 0 0 #f8d200, 15px 15px 0 #b36950, 30px 30px 0 #734049, 45px 45px 0 #fff7e2;
    }
}

#descripcion {
    font-family: monospace;
    font-size: xx-large;
    background-color: transparent;
    border-radius: .25em;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: white;
    width: 30vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vh;
}

.agrandar {
    animation: agrandarWidth 1s ease-in;
    animation-fill-mode: forwards;
}

.achicar {
    animation: achicarWidth 1s ease-out;
    animation-fill-mode: forwards;
}

#descripcion:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 .08em .24em rgba(0, 0, 0, 0.3);
}

#descripcion:active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 .08em .24em rgba(0, 0, 0, 0.3);
    background: transparent;
}

@keyframes agrandarWidth {
    0% {
        width: 30vw;
        height: 10vh;
    }
    100% {
        width: 35vw;
        height: 35vh;
    }
}

@keyframes achicarWidth {
    0% {
        width: 35vw;
        height: 35vh;
    }
    100% {
        width: 30vw;
        height: 10vh;
    }
}

.mensajes {
    position: absolute;
    z-index: -2;
}

#ganaste {
    font-family: monospace;
    font-size: 5em;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: .25em;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: white;
    width: 25vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vh;
    animation: text-shadow 1s infinite;
}

#level {
    font-family: monospace;
    font-size: xx-large;
    background-color: transparent;
    border-radius: .25em;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: white;
    width: 30vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vh;
}

@keyframes text-shadow {
    0% {
        text-shadow: 0 0 black;
    }
    100% {
        text-shadow: 20px 20px 10px rgba(0, 0, 0, .5);
    }
}

#continuar {
    font-family: monospace;
    font-size: xx-large;
    background-color: transparent;
    border-radius: .25em;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: white;
    width: 30vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vh;
}

#continuar:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 .08em .24em rgba(0, 0, 0, 0.3);
}

#continuar:active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 .08em .24em rgba(0, 0, 0, 0.3);
    background: transparent;
}

.puntos :first-child {
    margin-right: 10px;
}

.puntos {
    z-index: -1;
    position: absolute;
    font-family: monospace;
    font-size: xx-large;
    background-color: transparent;
    border-radius: .25em;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 5vh;
}

.agruparColumnas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pointDiamond {
    margin-right: 10px;
}

#container-diamanteIco {
    width: 45px;
    height: 39px;
}


/* ---------------------------------------------> ///////////// <--------------------------------------------- */


/* ---------------------------------------------> FONDO PARALLAX <-------------------------------------------- */

.fondoLejos {
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.fondoCerca3 {
    width: 100vw;
    height: 160px;
    background: url("../image/parallax2/parallax-mountain-montain-far.png") repeat-x;
    animation: fondoMove 40s linear infinite;
}

.fondoCerca2 {
    width: 100vw;
    height: 160px;
    background: url("../image/parallax2/parallax-mountain-mountains.png") repeat-x;
    animation: fondoMove 30s linear infinite;
}

.fondoCerca1 {
    width: 100vw;
    height: 160px;
    background: url("../image/parallax2/parallax-mountain-trees.png") repeat-x;
    animation: fondoMove 20s linear infinite;
}

.fondoCerca {
    position: relative;
    width: 100vw;
    height: 160px;
    background: url("../image/parallax2/parallax-mountain-foreground-trees.png") repeat-x;
    animation: fondoMove 10s linear infinite;
}

@keyframes fondoMove {
    0% {
        background-position: 544px;
    }
    100% {
        background-position: 0;
    }
}


/* ---------------------------------------------> ////////////// <-------------------------------------------- */


/* -----------------------------------------------> OBSTACULOS <---------------------------------------------- */

.obstaculo1 {
    background: url("../image/block-big.png") repeat;
    position: absolute;
    top: 0px;
    left: 100vw;
    transform: rotateZ(180deg);
    width: 64px;
    height: 70vh;
    background-color: red;
}

.obstaculo2 {
    background: url("../image/block-big.png") repeat;
    position: absolute;
    left: 100vw;
    width: 64px;
    height: 10vh;
    background-color: yellow;
}

.obstaculo3 {
    background: url("../image/block-big.png") repeat;
    position: absolute;
    top: 0px;
    left: 100vw;
    transform: rotateZ(180deg);
    width: 64px;
    height: 40vh;
}

.obstaculo4 {
    background: url("../image/block-big.png") repeat;
    position: absolute;
    left: 100vw;
    width: 64px;
    height: 40vh;
}

.obstaculo5 {
    background: url("../image/block-big.png") repeat;
    position: absolute;
    top: 0px;
    left: 100vw;
    transform: rotateZ(180deg);
    width: 64px;
    height: 50vh;
}

.obstaculo6 {
    background: url("../image/block-big.png") repeat;
    position: absolute;
    left: 100vw;
    width: 64px;
    height: 30vh;
}

.moveObstacle {
    animation: obstaculoMove 10s linear infinite;
    animation-delay: 0s;
}

@keyframes obstaculoMove {
    100% {
        left: -64px;
    }
}


/* -----------------------------------------------> ////////// <---------------------------------------------- */


/* ------------------------------------------------> DIAMOND <------------------------------------------------ */

.container-diamante {
    width: 45px;
    height: 39px;
    position: absolute;
    left: 100vw;
    top: 50vh;
}

.animarDiamante {
    transform: scale(3, 3);
    width: 100%;
    height: 100%;
    background: url("../image/gem.png") repeat;
    animation: animarGem 1s steps(5) infinite;
}

@keyframes animarGem {
    100% {
        background-position-x: -75px;
    }
}

.diamondMove {
    animation: gemMove 10s linear infinite;
    animation-delay: 2s;
}

@keyframes gemMove {
    100% {
        left: -45px;
    }
}


/* -----------------------------------------------> ////////// <---------------------------------------------- */


/* ------------------------------------------------> JUGADOR <------------------------------------------------ */

.container-player {
    top: 250px;
    position: absolute;
    width: 46px;
    height: 41.1px;
}

.caer {
    animation: moriryCaer 3s linear;
    animation-fill-mode: forwards;
}

@keyframes moriryCaer {
    100% {
        transform: translateY(100vh);
    }
}

.player {
    display: flex;
    align-self: flex-end;
    width: 46px;
    height: 41.1px;
    background-image: url("../image/Bird_Sheet3.png");
}

.subir {
    animation: playX 1s steps(10) infinite;
}

.subirTurbo {
    animation: playX 300ms steps(10) infinite;
}

.morir {
    display: flex;
    align-self: flex-end;
    width: 22px;
    height: 49px;
    animation: playXMorir 1s steps(3) infinite;
}

@keyframes impulso {
    100% {
        top: 50px;
    }
}

@keyframes playX {
    from {
        background-position-x: 0px;
        background-position-y: -41.1px;
    }
    to {
        background-position-x: -487px;
        background-position-y: -41.1px;
    }
}

@keyframes playXMorir {
    from {
        background-position-x: 0px;
        background-position-y: -123px;
    }
    to {
        background-position-x: -76px;
        background-position-y: -123px;
    }
}

@keyframes playY {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: -355px;
    }
}


/* ------------------------------------------------> /////// <------------------------------------------------ */